<h2>Post Show</h2>

<p>
  <strong> Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong> Link:</strong>
  <%= @post.link %>
</p>
<p>
  <strong> Description:</strong>
  <%= @post.description %>
</p>
<p>
  <strong> User:</strong>
  <%= current_user.name %> :)
</p>
<p>
  <td><%= image_tag @post.image.url(:medium) %></td>
</p>

</br>
<p>
  <%= link_to 'Back', root_path %>
</p>