
<!DOCTYPE html>
<html>
<head>
  <title>Muse</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"> </link>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> </link>

</head>
<body>

<header class="navbar navbar-inverse" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div id="logo" class="navbar-brand"><%= link_to "Post", root_path %></div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <% if user_signed_in? -%>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'New Post', new_post_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else -%>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          </ul>
        <% end -%>
      </nav>
    </div>
  </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="wrapper">
  <%= yield %>
</div>

</body>
</html>


1:06:29

